In [14]:
a=0
b=1
n=10
print(f"febonasi series :")
print(a)
print(b)
for i in range(2,n):

    c=a+b
    a=b
    b=c
    print(c)

febonasi series :
0
1
1
2
3
5
8
13
21
34

In [18]:
def ispla(string):
    ls=string[::-1]
    return string==ls
  
word="madam"
if ispla(word):
    print("is palamdrome")
else:
    print('not palandrome')

is palamdrome

In [37]:
import math
s=[]
def fac(n):
    if n==0:
        return 1
    else:
        return s== n* math.factorial(n-1)

num=5
fac(num)
print(f"factorial of {num} is  {s} ")

factorial of 5 is  []

In [31]:
  
# Python code to demonstrate math.factorial()
import math
 
print("The factorial of 23 is : ", end="")
print(math.factorial(23))

The factorial of 23 is : 25852016738884976640000

In [39]:
n=5
fact=1
for i in range(1,(n+1)):
    fact=fact*i
    
print(f"factorial for {n} is {fact}")

factorial for 5 is 120

In [49]:
import decimal
int=10
print(type(decimal.Decimal(int)))

<class 'decimal.Decimal'>

In [50]:
s="ieniengvinikj"
print(s[::-1])

jkinivgneinei

In [54]:
v='a,e,i,o,u'
s='hi i am siddhay how are you'
c=0
for i in s:
    if i in v:
        c+=1
print(c)

10

In [57]:
w="iiaenfnikeanfvifiosjcnvb "
v='a,e,i,o,u'
c=0
for i in w:
    if i not in v:
        c+=1
print(c)

15

In [60]:
o="d"
w="siddhadddy"
c=0
for i in w:
    if o in i:
        c+=1
print(c)

5

In [65]:
a=0
n=5
b=1
print(a)
print(b)
for i in range(2,(n+1)):
    c=a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5

In [82]:
ls=[16,6464,16464,6,46,664,6]
m=ls[0]
for i in ls:
    if i>m:
        m=i
print(m)

16464

In [21]:
def ispal(string):
    ls=string[::-1]
    return string==ls
word="madafm"
if ispal(word):
    print("is palandrome")
else:
    print("is not palandrome")

is not palandrome

In [46]:
n=23
fact=1
for i in range(1,(n+1)):
    fact=fact*i
print(f'factorial of {n} is {fact}')

factorial of 23 is 25852016738884976640000

In [56]:
v="a,e,i,o,u"
word='kingkisnedfkifniefik'
c=0
for i in word:
    if i in v:
        c+=1
print(c)

7

In [72]:
a=0
b=1
n=10
print(a)
print(b)
for i in range(2,(n)):
    c=a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5
8
13
21
34

In [79]:
ls=[10,52,5,45,54,52]
s=ls[0]

for i in ls:
    if i > s:
        s=i
print(s)

54

In [76]:
numberList = [15, 85, 35, 89, 125]

maxNum = numberList[0]
for num in numberList:
    if maxNum < num:
        maxNum = num
print(maxNum)

125

In [88]:
lss="55,6464,64,645,431,6"
ls=int(ls)
ls=list(lss)
m=ls[0]
for i in ls:
    if m>i:
        m=i
print(m)

TypeError: 'int' object is not callable

In [102]:
ls=[1,2,3,4,5]
#m=int((len((ls)/2))

m=len(ls)//2
print(ls[m])
m

3

2

In [96]:
numList = [1, 2, 3, 4, 5]
midElement = int((len(numList)//2)) 

print(numList[midElement])

TypeError: 'int' object is not callable

In [97]:
numList = [1, 2, 3, 4, 5]
midElement = len(numList) // 2
print(numList[midElement])

3

In [104]:
ls=[1,6,6,69431,6464,6461]
m=len(ls)//2
print(ls[m])

69431

In [105]:
ls=[64,64,6464,1,32,3164,1]
m=len(ls)//2
print(ls[m])

1

In [108]:
ml=0
for i in ls:
    if i>ml:
        ml=i
print(ml)

6464

In [4]:
a=0
b=1
n=int(input("enter the number"))
print(a)
print(b)
for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

enter the number7
0
1
1
2
3
5
8

In [8]:
ls=[5,5,464,4,4,565,555]
max1=ls[0]
for i in ls:
    if i <max1:
        max1=i
print(max1)

4

In [13]:
ls
m=[]
for i in ls:
    if i not in m:
        m.append(i)
print(m)

[5, 464, 4, 565, 555]

In [17]:
ls
d=[]
for i in ls:
    if i not in d:
        d.append(i)
print(d)

[5, 464, 4, 565, 555]

In [22]:
s='knknnm'
s1=''.join(set(s))
s1

'mnk'

In [23]:
s2=set(s)
s2

{'k', 'm', 'n'}

In [26]:
r=[]
for i in s:
    if i not in r:
        r.append(i)
print(r)

['k', 'n', 'm']

In [32]:
s="nBikn unrubu ijirgihi8gj uhuhu9hg8hrwoi"
r=[]
for i in s:
    if i not in r:
        r.append(i)
ans=str(r)
print(ans)
print(r)
result=''.join(r)
result
res="".join(r)
print(res)

['n', 'B', 'i', 'k', ' ', 'u', 'r', 'b', 'j', 'g', 'h', '8', '9', 'w', 'o']
['n', 'B', 'i', 'k', ' ', 'u', 'r', 'b', 'j', 'g', 'h', '8', '9', 'w', 'o']
nBik urbjgh89wo

In [37]:
s=[1,5,51,15,5,58,4,5]
m=len(s)//2
m
print("middle element is : ",s[m])

middle element is :  5

In [45]:
xs=['nBikn unrubu ','ijirgihi8gj ','uhuhu9hg8hrwoi']
st=''.join(xs)
print(type(st))
print(st)

<class 'str'>
nBikn unrubu ijirgihi8gj uhuhu9hg8hrwoi

In [48]:
lst=''.join(xs)
lst

'nBikn unrubu ijirgihi8gj uhuhu9hg8hrwoi'

In [42]:
s

[1, 5, 51, 15, 5, 58, 4, 5]

In [49]:
ans="".join(xs)
ans

'nBikn unrubu ijirgihi8gj uhuhu9hg8hrwoi'

In [59]:
s=[1,2,3]
s1=[1,1,1,5]
r=[]
for i in range(0,len(s)):
    r.append(s[i]+s1[i])
print(r)

[2, 3, 4]

In [65]:
s=[1,2,3]
d=[4,5,6]
r=[]
for i in range(0,len(s)):
    r.append(s[i]+d[i])
print(r)

[5, 7, 9]

In [85]:
s1="LIsten"
s2="silent"
r1=list(s1.upper())
r2=list(s2.upper())
r1.sort(),r2.sort()
if (r1==r2):
    print('t')
else:
    print('f')

t

In [86]:
str1 = "Listen"
str2 = "Silent"

str1 = list(str1.upper())
str2 = list(str2.upper())
str1.sort(), str2.sort()

if(str1 == str2):
    print("True")
else:
    print("False")

True

In [87]:
s='siddhay'
s1='hayddsi'
s=list(s)
s1=list(s1)
s.sort()
s1.sort()
if s==s1:
    print("t")
else:
    print("f")

t

In [89]:
s='madamd'
if (s==s[::-1]):
    print("its palendrome")
else:
    print('not a palendrome')

not a palendrome

In [97]:
s=["ninfi iaehhif jnin niknin ninn "]
s="".join(s)
s=s.count("n")
s

10

In [114]:
import re
sed='pythen is no 1'
d=re.sub("[^0-9]","" ,sed)
s1=re.sub("[^a-zA-Z]","",sed)
sp=re.findall("[ \n]",sed)
print(len(d))
print(len(s1))
print(len(sp))

1
10
3

In [111]:
name = 'Python is 1'

digitCount = re.sub("[^0-9]", "", sed)
letterCount = re.sub("[^a-zA-Z]", "", sed)
spaceCount = re.findall("[ \n]", sed)

print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))

1
10
3

In [123]:
n=int(input("enter the size: "))
for i in range(n,0,-1):
    for j in range(i+1,0,-1):
        print(" * ",end=" ")
    print(" ")

enter the size: 5
 *   *   *   *   *   *
 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *

In [127]:
n=int(input("enter the size: "))
for i in range(n,0,-1):
    for j in range(i+1,0,-1):
        print(" * ",end=" ")
    print()

enter the size: 5
 *   *   *   *   *   *
 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *

In [136]:
from random import shuffle
s=["is this siddhay"]
shuffle(s)
print(s)

['is this siddhay']

In [138]:
s="siddhay"
c="d"
s

'siddhay'

In [139]:
s.count("d")

2

In [144]:
c1=0
for i in range(len(s)):
    if s[i]==c:
        c1+=1
print(c1)

2

In [147]:
s
c
c1=0
for i in range(len(s)):
    if s[i]==c:
        c1+=1
print(c1)

2

In [152]:
s1="python"
s2="thonpy"
s1=sorted(s1)
s2=sorted(s2)
if ((s1)==(s2)):
    print('its phyntom')
else:
    print('its not phytom')

its phyntom

In [154]:
s="madam"
if (s==s[::-1]):
    print("is palindrome")
else:
    print('is not palindrome')

is palindrome

In [159]:
s="7"
if s>="0" and s<="9":
    print("its a digit")
else:
    print("its a character")

its a digit

In [169]:
ls="olsdgojjefjaef"
r="j"
ch="s"
for i in ls:
    if i=="j":
        i=ch
    r+=i
print(r)

jolsdgossefsaef

In [165]:
string = "m d m"
result = '' 
ch = "a"
for i in string:  
        if i == ' ':  
            i = ch   
        result += i  
print(result)

madam

In [3]:
n=6
for i in range(n,0,-1):
    print("*"*(i-1))

*****
****
***
**
*

In [4]:
n = int(input("Enter the size: "))
for i in range(n, 0, -1):
    print(" * " * (i + 1))

Enter the size: 6
 *  *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *

In [6]:
n=6
for i in range(n,0,-1):
    print("* "*(i+1))

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *

In [11]:
n=4
for i in range(n,0,-1):
    print("* "*(i+0))

* * * *
* * *
* *
*

In [13]:
for i in range(0,n,1):
    print('* '*(i+1))

*
* *
* * *
* * * *

In [14]:
for i in range(0,n,1):
    print(" * "*(i+1))

 *
 *  *
 *  *  *
 *  *  *  *

In [17]:
a=0
b=1
n=10
print("Fibonasi series")
print(a)
print(b)
for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)

Fibonasi series
0
1
1
2
3
5
8
13
21
34

In [20]:
s="madam1"
s1=s[::-1]
if s==s1:
    print("It is palandrome")
else:
    print("not palandrome")

not palandrome

In [3]:
def fun(n):
    if n==0:
        return 1
    else:
        return n*fun(n-1)
    
s=fun(5)
print(s)

120

In [4]:
def fun(n):
    if n==0:
        return 1
    else:
        return n*fun(n-1)
    
s=fun(5)
s

120

In [11]:
n=int(input("Enter the number : "))
result=1
for i in range(1,n+1):
    result *=i
    
print(result)

Enter the number : 5
120

In [12]:
n=5        # factorial
r=1
for i in range(1,n+1):
    r*=i
print(r)

120

In [13]:
ls=[1,1,2,2,2,3,4,5,5,5]
ls1=[]
for i in ls:
    if i not in ls1:
        ls1.append(i)
print(ls1)

[1, 2, 3, 4, 5]

In [18]:
def fun(n):
    if n==0:
        return 1
    else:
        return n*fun(n-1)
s=fun(5)
s

120

In [19]:
def fun(n):
    if n==0:
        return 1
    else:
        return n*fun(n-1)
s=fun(5)
s

120

In [22]:
sq=[x**2 for x in range(0,11) if x%2==0]
sq

[0, 4, 16, 36, 64, 100]

In [24]:
sq=[x**2 for x in range(1,11) if x%2==0]
sq

[4, 16, 36, 64, 100]

In [27]:
s=lambda x: x**2
print(s(5))

25

In [28]:
s=lambda x:x**3
print(s(5))

125

In [33]:
n=[1,2,3,4,5]
s=map(lambda x: x*2,n)
print(list(s))

[2, 4, 6, 8, 10]

In [32]:
# Double each number in a list using map()
numbers = [1, 2, 3, 4, 5]
doubled_numbers = map(lambda x: x * 2, numbers)
print(list(doubled_numbers))  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [35]:
s=filter(lambda x: x%2==0,n)
print(list(s))

[2, 4]

In [39]:
from functools import reduce
s=reduce(lambda x,y:x+y,n)
print(s)

15