In [2]:
first_name='siddhay'
last_name="shetye"
print(first_name,type(first_name),last_name,type(last_name))

siddhay <class 'str'> shetye <class 'str'>

In [35]:
s="avengers "
i="age of ultron"
d="infinity wars"
print(s,i,d)

avengers  age of ultron infinity wars

In [18]:
print(s*3**3)

avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers
avengers

In [4]:
s="siddhay"
print("dd" in s)
"ss" not in s

True

True

In [8]:
s[:15]

'\navengers '

s[:15]

In [14]:
s[-5]

'g'

In [28]:
print(s[0:50:1])

avengers

In [46]:
print(s[len(s)%5])

g

In [47]:
str1 = "        STring 1      "

str2 = " string 2" 

 

print("Right strip :",str1.rstrip(),end="")

print(str2)


print("left strip :",str1.lstrip(),end="")

print(str2)


print("strip :",str1.strip(),end="")

print(str2)

Right strip :         STring 1 string 2
left strip : STring 1       string 2
strip : STring 1 string 2

In [50]:
#Try it yourself:

s1="ab#d123"

s2="itvedant"

s3="1232"

s4="ABC"

s5="Hello All"

print(s1.isalnum())#it will check alpha numeric[a-za-Z0-9],it will return T/F

print(s2.isalpha())#it will check alpha [a-za-Z],it will return T/F

print(s3.isdigit())#it will check numbers[0-9],it will return T/F

print(s4.isupper())

print(s2.islower())

print(s5.istitle())

False
True
True
True
True
True

In [53]:
str1="Welcome to USA.USA is awasome, isn't it?"
print(str1.count("USA"))

2

In [61]:
str2="Emma-is-a-Data-scientist"
data=str2.split("-")
print(data)

['Emma', 'is', 'a', 'Data', 'scientist']

In [21]:
s="  sidd hay   "

In [22]:
print(len(s)-1)

12

In [27]:
si=s.strip()

In [28]:
len(si)

8

In [29]:
si

'sidd hay'

In [40]:
s="itVedaNt eduCation "

In [31]:
s.upper()

'ITVEDANT EDUCATION'

In [32]:
s.lower()

'itvedant education'

In [41]:
s.title()

'Itvedant Education '

In [35]:
s.swapcase()

'ITvEDAnT EDUcATION'

In [42]:
s.capitalize()

'Itvedant education '

In [58]:
s1="ab#123"
s2="itvedant"
s3="123"
s4="ABC"
s5="Hello All"

In [48]:
print(s1.isalnum())

False

In [51]:
s2.isalpha()

True

In [52]:
s3.isalnum()

True

In [53]:
s3.isdigit()

True

In [55]:
s4.isupper()

True

In [56]:
s2.islower()

True

In [59]:
s5.istitle()

True

In [60]:
s6="avengers assemble,avengers age of ultron , avengers infinity war, avengers endgame"

In [61]:
s6.count("a")

8

In [62]:
s6.count(" ")

10

In [65]:
s7="python is low level programming language"
s8=s7.replace("low","higher")
print(s7)
print(s8)

python is low level programming language
python is higher level programming language

In [67]:
ord("a")

97

In [75]:
chr(97)

'a'

In [101]:
t=(12,21.4,"sidd","Thane","box",325)

In [102]:
print(t)
print(type(t))
print(t[2])

(12, 21.4, 'sidd', 'Thane', 'box', 325)
<class 'tuple'>
sidd

In [83]:
print(t[4])

box

In [85]:
print(t[0:-1])

(12, 21.4, 'sidd', 'Thane', 'box')

In [86]:
l=len(t)
l

6

In [91]:
for i in t:
    print(i,end=" ")

12 21.4 sidd Thane box 325

In [97]:
for x in range(0,5,1):
    print(t[x],end=" ")

12 21.4 sidd Thane box

In [99]:
print(t[1:-1:1])

(21.4, 'sidd', 'Thane', 'box')

In [1]:
del t
#print(t)

NameError: name 't' is not defined

In [15]:
list1=('ITVEDANT')

In [3]:
l1=list("ITVEDANT")
l1

['I', 'T', 'V', 'E', 'D', 'A', 'N', 'T']

In [2]:
l1 = list("ITVEDANT")

In [8]:

s

In [9]:
print(s)

None

In [16]:
s=list1.reversed()
s

AttributeError: 'str' object has no attribute 'reversed'

In [20]:
x=list1.copy()
x

AttributeError: 'str' object has no attribute 'copy'

In [21]:
h=[letter for letter in 'human']
h

['h', 'u', 'm', 'a', 'n']

In [23]:
x=[i for i in "siddhay"]
x

['s', 'i', 'd', 'd', 'h', 'a', 'y']

In [28]:
s={i for i in range(5)}
s

{0, 1, 2, 3, 4}

dict is not done properly

In [2]:
d1={'a':'apple' , 'b':'banana' , 'c':'chikku','d':'mango'}
d2={1:'sid',4:"ram",5:'sam',6:'max'}

In [3]:
print(d1)
d2

{'a': 'apple', 'b': 'banana', 'c': 'chikku', 'd': 'mango'}

{1: 'sid', 4: 'ram', 5: 'sam', 6: 'max'}

In [5]:
s=d1.get(2)

In [6]:
s

In [12]:
vowels=('a','v','c','d','e')
print(vowels)
fset=frozenset(vowels)
print("frozenset is ",fset)
print('empty forzenset is',frozenset())
s=vowels.add('v')
s

('a', 'v', 'c', 'd', 'e')
frozenset is  frozenset({'c', 'v', 'a', 'd', 'e'})
empty forzenset is frozenset()

AttributeError: 'tuple' object has no attribute 'add'

In [17]:
A=frozenset([1,2,3,4])
B=frozenset([3,4,5,6,7])
c=A.copy()
c

frozenset({1, 2, 3, 4})

In [14]:
d=A.union(B)
d

frozenset({1, 2, 3, 4, 5, 6, 7})

In [18]:
e=A.intersection(B)
e

frozenset({3, 4})

In [21]:
f=B.difference(A)
f

frozenset({5, 6, 7})

In [20]:
g=A.symmetric_difference(B)
g

frozenset({1, 2, 5, 6, 7})

In [10]:
tuple1=(11,22,[33,44,55],66,77)
print(tuple1)
list1=list(tuple1)
list1[2][1]=444
tuple1=tuple(list1)
print(tuple1)

(11, 22, [33, 44, 55], 66, 77)
(11, 22, [33, 444, 55], 66, 77)

In [21]:
set1={10,20,30,40,50,60,70}
set2={40,50,60,70,80,90}
s=set1.symmetric_difference(set2)
s

{10, 20, 30, 80, 90}

In [16]:

sample_dict={'emp1':{'name':'Jhon','salary':75000},'emp2':{'name':'Emma','salary':80000},'emp3':{'name':'Brad','salary':500}}
print(sample_dict)
sample_dict['emp3']['salary']=85000
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 75000}, 'emp2': {'name': 'Emma', 'salary': 80000}, 'emp3': {'name': 'Brad', 'salary': 500}}

{'emp1': {'name': 'Jhon', 'salary': 75000},
 'emp2': {'name': 'Emma', 'salary': 80000},
 'emp3': {'name': 'Brad', 'salary': 85000}}

In [77]:
age=int(input("enter the age : "))
if age<18:
    print("you are minior ")
elif age>=18 and age<65:
    print("you are adult")
else:
    print('you are sinior citizen')

enter the age : 70
you are sinior citizen

In [85]:
age=int(input('enter the number:'))
if age<18:
    print('you are minior')
elif age>=18 and age<=65:
    print('you are adult')
else:
    print('you are sinior citizen')

enter the number:85
you are sinior citizen

In [102]:
x=int(input("enter the 1 number "))
y=int(input('enter the 2 number '))
if x==y:
    print("both number are equal")
else:
    if x>y:
        print(f'{x} 1st number is greater')
    else:
        print(f'{y} 2nd number is greater')

enter the 1 number efa

ValueError: invalid literal for int() with base 10: 'efa'

In [115]:
gender= input("enter the age (m/f):")
age = int(input("enter the age:"))
if gender== 'f'or 'F':
    print("she will work only in urben")
elif gender=='m'or 'M' and age >=20 and age <=40:
    print("He may work anywhere")
elif gender=='m'or 'M' and age>=40 and age <=60:
    print("he may work in urban area only")
else:
    print('error')

enter the age (m/f):F
enter the age:64
she will work only in urben

In [5]:
#ranges (for)

for i in range(-10,12,2):
    print(i)

-10
-8
-6
-4
-2
0
2
4
6
8
10

In [8]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
l1=["sid","she","rt","mux","demux"]
for i in l1:
    print(i)

sid
she
rt
mux
demux

In [13]:
number=int(input("enter the Number:"))
factorial=1
if number>0:
    for i in range(1,number+1):
        factorial*=i
    print(f"the {number} is factorial of : {factorial}")
else:
    print("negative number cannot be factorized")

enter the Number:5
the 5 is factorial of : 120

In [18]:
my_term = 5
a,b=0,1
print("fibona series")
for i in range(my_term):
    print(a, end=" ")
    a, b=b,a+b

fibona series
0 1 1 2 3

In [11]:
l1=['m','na','i','ke']
l2=['y','me','s','lly']
l3=[i+j for i,j in zip (l1,l2)]
print(l3)

['my', 'name', 'is', 'kelly']

In [35]:
for x in range(1,100):
    if(x==10):
        break
    print(x,"siddhay" , end=", "  )
else:
    print("finished")

1 siddhay, 2 siddhay, 3 siddhay, 4 siddhay, 5 siddhay, 6 siddhay, 7 siddhay, 8 siddhay, 9 siddhay,

In [38]:
i=1
while i<10:
    if(i%18==0):
        break
    print(i,end=" ")
    i+=1
else:
    print("loop is over")

1 2 3 4 5 6 7 8 9 loop is over

In [44]:
num= int(input("Enter the number:"))
for x in range(2,num):
    if (x%2==0):
        print(num,"number is not prime")
        break
    
else:
    print(num,"number is prime")

Enter the number:11
11 number is not prime

In [47]:
for x in range(0,20):
    if x%4==0:
        
        continue
    print(x, end=" ")
else:
    print("finish loop")

1 2 3 5 6 7 9 10 11 13 14 15 17 18 19 finish loop

In [48]:
for x in range(0,20):
    if x%5==0:
        continue
    print(x,end=" ")
else:
    print("end loop")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 end loop

In [1]:
x=1
while x<20:
    if (x==5):
        x=x+x
        continue
    print(x, end=" ")
    x+=1
else: 
    print("loop finished")

1 2 3 4 10 11 12 13 14 15 16 17 18 19 loop finished

In [3]:
for x in range(0,20): 
    if x%5==0:
        continue
    print(x,end=" ")
else:
    print("loop finished")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 loop finished

In [3]:
#x=1
for i in range(1,6):
    x=i+1
    print(i)
    for n in range(1,6):
        print(i,n)
        x=i+1
    print(n)

1
1 1
1 2
1 3
1 4
1 5
5
2
2 1
2 2
2 3
2 4
2 5
5
3
3 1
3 2
3 3
3 4
3 5
5
4
4 1
4 2
4 3
4 4
4 5
5
5
5 1
5 2
5 3
5 4
5 5
5

In [11]:
for n in range(0,5):
    n=n+1
    print(n)
    for m in range(1,6):
        m=n+1
    print(n,m)

1
1 2
2
2 3
3
3 4
4
4 5
5
5 6

In [28]:

for a in range(1,6):
    #print(a, end=" ")
    #for b in range(1,6):
        #print(a, end=" ")
        #a,b=a+1,b+1
    print(a)

1
2
3
4
5

In [4]:
b=0
for a in range(0,6):
    a+=1
    print(a)
    a=a+1
    for b in range(0,6):
        print(b)

1
0
1
2
3
4
5
2
0
1
2
3
4
5
3
0
1
2
3
4
5
4
0
1
2
3
4
5
5
0
1
2
3
4
5
6
0
1
2
3
4
5

In [11]:
for x in range(1,10):
    print(x)
    for y in range(1,6):
        print(x,y)
        if (x==5):
            break
   # print(x,end=" ")

1
1 1
1 2
1 3
1 4
1 5
2
2 1
2 2
2 3
2 4
2 5
3
3 1
3 2
3 3
3 4
3 5
4
4 1
4 2
4 3
4 4
4 5
5
5 1
6
6 1
6 2
6 3
6 4
6 5
7
7 1
7 2
7 3
7 4
7 5
8
8 1
8 2
8 3
8 4
8 5
9
9 1
9 2
9 3
9 4
9 5

In [13]:
for i in range(1,6):
    for j in range(1,i):
        print(j, end=" ")
    print(i)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
for i in range(1,6):
    for j in range(1,i):
        print(j,end=" ")
    print(i)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
s=2
n=5;
for s in range(0,n):
    s**=s
    print(s)

1
1
4
27
256

In [30]:
for i in range(1,6):
    for s in range(1,i):
        i=1+s
        print(s,end=" ")
    print(i)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [40]:
for i in range(1,6):
    for k in range(1,i):
        i=1+k
        print(k,end=" ")
    #print(i)

1 1 2 1 2 3 1 2 3 4

In [49]:
n=int(input("enter the number:"))
s=0
z=0
for i in range(1,n+1):
    z=z*10+2
    s+=z
    print(s)
print(f"the final answere is: {s}")

enter the number:5
2
24
246
2468
24690
the final answere is: 24690

In [52]:
s=0
z=0
n=5
for i in range(1,n+1):
    s=s*10+2
    z+=s
    print(z)
print(z)

2
24
246
2468
24690
24690

In [54]:
for i in range(1,5):
    for s in range(1,i):
        i=1+s
        print(s,end=" ")
    print(i)

1
1 2
1 2 3
1 2 3 4

In [55]:
s=0
z=0
n=int(input("enter the number:"))
for i in range(1,n+1):
    s=s*10+2
    z+=s
    print(z)
print(z)

enter the number:5
2
24
246
2468
24690
24690

In [57]:
for i in range(1,6):
    for j in range(1,i):
        i=1+j
        print(j,end=" ")
    print(i)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [58]:
s=0
z=0
n=int(input("enter the number:"))
for i in range(1,n+1):
    s=s*10+2
    z+=s
    print(z)
print(z)

enter the number:5
2
24
246
2468
24690
24690

In [67]:
j=0
s=0
p={j*10+2 for x in range(1,n+1)}
p

{2}

In [68]:
j=0
s=0
n=5
for i in range(1,n+1):
    j=j*10+2
    s+=j
    print(s)
print(s)

2
24
246
2468
24690
24690

In [82]:
p=[x+1 for x in range(0,11), print(x) for s in range(1,10)]
p

SyntaxError: invalid syntax (1703369242.py, line 1)

In [95]:
p=[x/2 for x in range(0,20)]
p

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5]

In [104]:
List1= [12,23,34,45,56,67,78,89,90]
result=["even" if n %2 ==0 else "odd" for n in List1]
#p=[List1%2==0 for x in List1]
print(result)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [106]:
l=[12,23,34,45,56,67,78,89,90]
result=["even" if n%2==0 else "odd" for n in l]
result

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [52]:
note="I am siddhay my pancard number is : UDIHG7384S Who has register for vehicle no. MH-46-DM-8459 but want to buy vehicles with register number as MH 01-DB-9758 , MH-97-IJ-4996 , GJ-78-UH-9839 , GJ-63-IU-7926 as the owner's pancard number are EINOH9895J , OGJKH7953Q , ORJKH9963V , PJKJK7825Z"
note

"I am siddhay my pancard number is : UDIHG7384S Who has register for vehicle no. MH-46-DM-8459 but want to buy vehicles with register number as MH 01-DB-9758 , MH-97-IJ-4996 , GJ-78-UH-9839 , GJ-63-IU-7926 as the owner's pancard number are EINOH9895J , OGJKH7953Q , ORJKH9963V , PJKJK7825Z"

In [53]:
import re
x=re.findall("[A-Z][A-Z][A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9][A-Z]",note)
print(x)
X=re.findall("[A-Z]+[0-9]+[A-Z]",note)

print(x)

['UDIHG7384S', 'EINOH9895J', 'OGJKH7953Q', 'ORJKH9963V', 'PJKJK7825Z']
['UDIHG7384S', 'EINOH9895J', 'OGJKH7953Q', 'ORJKH9963V', 'PJKJK7825Z']

In [54]:
S=re.findall("[A-Z][A-Z][\W][0-9][0-9][\W][A-Z][A-Z][\W][0-9][0-9][0-9][0-9]",note)
print(S)
s=re.findall("[A-z]+[\W]+[0-9]+[\W]+[A-Z]+[\W]+[0-9]+[\s]",note)
print(s)

['MH-46-DM-8459', 'MH 01-DB-9758', 'MH-97-IJ-4996', 'GJ-78-UH-9839', 'GJ-63-IU-7926']
['MH-46-DM-8459 ', 'MH 01-DB-9758 ', 'MH-97-IJ-4996 ', 'GJ-78-UH-9839 ', 'GJ-63-IU-7926 ']